<!-- views/index.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Control Center</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      display: flex;
    }
    .sidebar {
      width: 200px;
      background: #f4f4f4;
      padding: 15px;
    }
    .content {
      flex: 1;
      padding: 15px;
    }
    a {
      text-decoration: none;
      color: #333;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="sidebar">
    <h2>Navigation</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/diagnostics">Diagnostics</a></li>
      </ul>
  </div>
  <h1>Welcome to the Node Control Center!</h1>
  <p>Today’s date is <%= Time.now.strftime('%B %d, %Y') %>.</p>
  <p>Current Time: <%= Time.now.strftime('%I:%M %p') %></p>
  <p>Version: <%= @version %></p>
  </br>
  <h2>Code from GitHub</h2>
  <p>Latest Commit SHA: <%= @latest_commit_sha %></p>
  <p>Commit Message: <%= @latest_commit_message %></p>
</body>
</html>
